<h1>Cookingorama.</h1>
{{#each recipes as |recipe|}}
  <p>{{recipes.username}}</p>
{{/each}}

<h1>Course.</h1>
{{#each courses as |course|}}
  <p>{{courses.username}}</p>
{{/each}}

<h1>Ingredients.</h1>
{{#each Ingredients as |ingredient|}}
  <p>{{Ingredients.username}}</p>
{{/each}}

<h1>Users.</h1>
{{#each users as |user|}}
  <p>{{users.username}}</p>
{{/each}}